body{
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  background-color: #001821;
  color: #cccccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: inherit;
}
ul{
  padding: 0;
  margin: 0;
}
ul li{
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}
p{
  margin-top: 0;
}
*{
  box-sizing: border-box;
}
.main-page-wrapper{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("../img/bg-20200619T114647Z-001/hero.jpg") center top no-repeat, url("../img/bg-20200619T114647Z-001/bottom-pic.jpg") right bottom no-repeat;
}
.container{
  width: 1144px;
  margin: 0 auto;
 
}
.header{
  height: 70px;
  position: relative;
  margin-bottom: 164px;
}
.logo__link{
  display: block;
  position: absolute;
  top:30px;
  left: 0;
}
.logo__img{
  width: 98px;
  height: 42px;
}
.menu{
  position: absolute;
  top: 37px;
  left: 200px;
  
}
.menu__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 57px;
}
.menu__item--active .menu__link{
  color:#f5170e;
}
.menu__link{
  font-size: 14px;
  text-decoration: none;
}
.menu__link:hover{
  color: #f5170e;
}
.contact{
  position: absolute;
  top:22px;
  right: 0;
  font-style: normal;
  text-align: right;
}
.contact__phone{
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
  letter-spacing: 4px;
}
.contact__dropdown-title{
  font-size: 13px;
  text-decoration: underline;
  padding-right: 13px;
  margin-top:-2px;
}
.contact__desc{
  color: #9a9a9a;
  font-size: 11px;
}
.hero{
  margin-bottom: 200px;
.hero__text-section{
  width: 532px;
  color: #ffffff;
}
.hero__title{
  font-size: 75px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 29px;
}
.hero__subtitle{
font-size: 17px;
margin-bottom: 58px;
letter-spacing: 1.1px;
}
.button{    
  border: solid 1px rgba(245, 23, 14, 0.4);
  color: #ffffff;
  background: #da0100;
  border-radius: 26px;
  padding: 15px 27px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  }
.button--color--ginger:hover{
  background:#da0100;
}
.button--color--white{
  background: #ffffff;
  color: #f5170e;
}
.button--color--white:hover{
  background: #f5170e;
  color: #ffffff;
}
.main{
  margin-bottom: 154px;
}
.tour{
  margin-bottom: 300px;
}
.tour__title{
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 51px;
  line-height: 1.2;
}
.tour__fire-img{
  width: 19px;
  height: 25px;
  margin-bottom: 15px;
}
.tour__item{
  min-height: 439px;
  background: #ffffff;
  border-radius: 6px;
  display: inline-block;
  margin-right: 35px;
  width: 343px;
}
li.tour__item:last child{
  margin-right:0;
.tour__img{
  height: 142px;
  margin-bottom: -10px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 17px;
}
.tour__icon{  
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.tour__info{
  padding: 0 23px;
}
.tour__title-info{
  position: relative;
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: bold;
  color: #000000
}
.tour__description-text{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  margin-right: 33px;
  margin-bottom: 25px;
}
.tour__text{
  text-align: left;
  font-size: 14px;
  position: relative;
  font-weight: normal;
  line-height: 1.5;
  color: #303030;
  margin-bottom: 37px;
}

.tour__button-wrapper{
  margin-top: 7px;
  margin-bottom: 53px;
  margin-left: 24px;
}
  .news{
    margin-bottom: 55px;
}
.news__title{
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 55px;
}
.news__item{
  margin-right: 35px;
  width: 552px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.news__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .7;
}
.news__img:first-child{
  height: 391px;
}
.news__content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 140px;
}
.news__date{
  font-size: 14px;
  margin-bottom: 18px;
  text-transform: lowercase;
}
.news__subtitle{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.paginator{
  text-align: center;
}
.paginator__display,.paginator__list{
  display: inline-block;
  vertical-align: middle;
}
.paginator__display{
  margin-right: 26px;
}
.paginator__item{
  display: inline-block;
  vertical-align: middle;
}
.paginator__item--active .paginator__link{
  background: #ffffff;
  color: #f5170e;
}
.paginator__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}
.paginator__link:hover{
  background: #ffffff;
  color: #f5170e;
}
  .about{
    position:relative;
  }
.about::before, .about__desc{
  display: inline-block;
  vertical-align: top;
}
.about:before{
  content: "";
  width: 488px;
  height: 502px;
  background: url("../img/decor-20200619T114750Z-001/gates.jpg") center center/cover no-repeat;
}
.about__desc{
  margin-top: 136px;
  margin-left: -200px;
  background: url("../img/decor-20200619T114750Z-001/mountains.jpg") right top no-repeat;
  padding: 80px 98px;
  width: 647px;
  height: 454px;
  position: absolute;
  right: 0;
}
.about__title{
  color: #000000;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 31px;
}
.about__text{
  font-weight: normal;
  line-height: 1.69;
  text-align: left;
  letter-spacing: normal;
  margin-bottom: 42px;
  color: #303030;
}
.about__text p{
  margin-bottom: 20px;
}
.about__text p:last-child{
  margin-bottom: 0;
}
.footer__container-content{
 position: relative;
}
.footer{
  height: 152px;
  position: relative;
}
.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.socials__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}
.socials__item--icon--telegram .socials__link{
  background-image: url("/img/icons-20200619T114801Z-001/socials/t.png");
}
.socials__item--icon--telegram .socials__link:hover{
  background-image: url("/img/icons-20200619T114801Z-001/socials/t2.png");
}
.socials__item--icon--vk .socials__link{
  background-image: url("/img/icons-20200619T114801Z-001/socials/vk.png");
}
.socials__item--icon--vk .socials__link:hover{
  background-image: url("/img/icons-20200619T114801Z-001/socials/vk2.png");
}
.socials__item--icon--fb .socials__link{
  background-image: url("/img/icons-20200619T114801Z-001/socials/f.png");
}
.socials__item--icon--fb .socials__link:hover{
  background-image: url("/img/icons-20200619T114801Z-001/socials/f2.png");
}
.socials__item--icon--insta .socials__link{
  background-image: url("/img/icons-20200619T114801Z-001/socials/in.png");
}
.socials__item--icon--insta .socials__link:hover{
  background-image: url("/img/icons-20200619T114801Z-001/socials/in2.png");
}
.socials{
  right: 659px;
  
}
.socials__item:last-child{
  margin-right: 0;
}
