html, body{
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.20;
  background-color: #001821;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: inherit;
}
ul li{
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
p{
  margin-top: 0;
}
*{
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1250px;
}

.main-page-wrapper{
  background: url("../img/bg-20200619T114647Z-001/hero.jpg") center top no-repeat, url("../img/bg-20200619T114647Z-001/bottom-pic.jpg") right bottom  307px no-repeat;
}

.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.hero__container {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-height: 852px;
}

.header {
  padding-top: 45px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  width: 103px;
  height: 54px;
  margin-right: 66px;
  
}

.menu {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.09;
  padding-left: 5px;
  padding-bottom: 10px;
}

.menu__item {
  margin-right: 54px;
  display: inline-block;
  vertical-align: middle;
}

.menu--item--active .menu__link {
  color: #f5170e;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-weight: normal;
  text-decoration: none;
}

.menu__link:hover {
  color: #ff3c00;
}

.contact {
  text-align: right;
  line-height: 2.07;
}

.contact__phone {
  font-size: 27px;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 3px;
  position: relative;
  right: 0px;
}

.contact__dropdown-title {
  margin-top: 2px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  top: -17px;
  right: 2px;
  text-decoration: underline;
}

.hero__content {
  
  margin: 0 0;
  margin-bottom: 261px;
  letter-spacing: 3px;
}

.hero__title {
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 72px;
  font-weight: bold;
  line-height: normal;
}

.hero__text-section {
  width: 53%;
  text-align: left;
}

.hero__subtitle {
  font-size: 19px;
  font-weight: normal;
  margin-bottom: 55px;
  margin-top: 22px;
  letter-spacing: 0;
}

.button {
  width: 95px;
  height: 21px;
  font-weight: bold;
  line-height: 0.07;
  border: solid 1px rgba(245, 23, 14, 0.4);
  color: #ffffff;
  background: #da0100;
  border-radius: 26px;
  padding: 16px 38px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  margin-left: 1px;
  letter-spacing: 1px;
}

.tour {
  margin-bottom: 164px;
}

.tour__block {
  margin-bottom: 51px;
}

.tour__title {
  font-size: 37px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 41px;
}

.tour__fire-img {
  width: 21px;
  height: 28px;
}

.tour__info{
  padding: 0 23px;
}

.tour__icon-thai{
  height: 114%;
  width: 101%;
  object-fit: cover;
}

.tour__icon-bali{
  height: 124%;
  width: 101%;
  object-fit: cover;
}

.tour__icon-indo{
  height: 124%;
  width: 101%;
  object-fit: cover;
  margin-left: -1px;
  margin-top: -38px;
}

.tour__list {
  display: flex;
  justify-content: space-between;
}

.tour__item{
  width: calc(100% / 3 - 18px);
  min-height: 468px;
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 33px;
}

.tour__img{
  height: 151px;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 27px;
}

li.tour__item:last-child{
  margin-right: 0;
}

.tour__title-info{
  margin-left: 1px;
  position: relative;
  top: -1px;
  margin-bottom: 21px;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.tour__description-icon {
  margin-left: 7px;
  margin-top: 1px;
}

.tour__description-display {
  display: inline-block;
}
.tour__description-info {
  display: inline-block;
}

.tour__description-text{
  display: inline-flex;
  vertical-align: top;
  font-size: 17px;
  font-weight: normal;
  color: #666666;
  margin-right: 21px;
  margin-left: 5px;
  margin-top: 6px;
}

.tour__description {
  margin-bottom: 25px;
}

.tour__text{
  width: 316px;
  height: 71px;
  font-size: 15px;
  position: relative;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0;
  color: #303030;
  margin-bottom: 35px;
  margin-top: 3px;
}

.tour__button-wrapper{
  padding: 8px 0;
  margin-top: 44px;
  margin-left: 25px;
}

.button--color--white {
  font-size: 14px;
  padding: 17px 27px;
  background: #ffffff;
  color: #da0100;
}

.button--color--white:hover {
  background: #f5170e;
  color: #ffffff;
}

.news {
  margin-bottom: 55px;
}

.single-news {
 
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.news__title{
  font-weight: bold;
  font-size: 38px;
  color: #ffffff;
}

.news__list {
  display: flex;
  justify-content: space-between;
}

.news__item{
  margin-right: 2%;
  width: 553px;
  min-height: 401px;
  flex: 1;
}

.news__item:last-child{
  margin-right: 0;
}
.news__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  margin-bottom: 15px;
  min-height: 140px;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  margin-bottom: 0;
  min-height: 161px;
}

.news__date{
  font-size: 14px;
  margin-bottom: 22px;
  text-transform: lowercase;
}

.news__subtitle{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 11px;
}
.paginator{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 166px;
}

.paginator--theme--light {
  color: #000000;
}

.paginator--theme--light .paginator__item--active .paginator__link {
  color: #ffffff;
  background: #f5170e;
}

.paginator--theme--light .paginator__link:hover {
  color: #ffffff;
  background: #f5170e;
}

.paginator__display{
  margin-right: 26px;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__item {
  text-align: center;
}

.paginator__item--active .paginator__link{
  background: #ffffff;
  color: #f5170e;
}
.paginator__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}
.paginator__link:hover{
  background: #ffffff;
  color: #f5170e;
}

.about{
  display: flex;
  position: relative;
}

.about:before{
  overflow: hidden;
  border-radius: 10px;
  content: "";
  width: 488px;
  height: 502px;
  background: url("../img/decor-20200619T114750Z-001/gates.jpg") center center/cover no-repeat;
  display: block;
}
.about__desc{
  overflow: hidden;
  border-radius: 10px;
  margin-left: -131px;
  margin-top: 90px;
  background: url("../img/decor-20200619T114750Z-001/mountains.jpg") right top no-repeat;
  padding: 80px 98px;
  max-width: 780px;
  height: 454px;
}
.about__title{
  color: #000000;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 31px;
}
.about__text{
  font-weight: normal;
  line-height: 1.69;
  text-align: left;
  letter-spacing: normal;
  margin-bottom: 42px;
  color: #303030;
  width: 590px;
}
.about__text p{
  margin-bottom: 20px;
}
.about__text p:last-child{
  margin-bottom: 0;
}

.footer {
  margin-top: auto;
  width: 1140px;
  align-self: center;
}

.footer__container-content{
  border-top: 1px solid #ffffff;
}

.footer__container {
  height: 140px;
  position: relative;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col-align-right {
  align-items: flex-end;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials {
  margin-left: 120px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
  background-image: url("../img/icons-20200619T114801Z-001/socials/t.png");
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url("../img/icons-20200619T114801Z-001/socials/t2.png");
}

.socials__item--icon--vk .socials__link {
  background-image: url("../img/icons-20200619T114801Z-001/socials/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url("../img/icons-20200619T114801Z-001/socials/vk2.png");
}

.socials__item--icon--fb .socials__link {
  background-image: url("../img/icons-20200619T114801Z-001/socials/f.png");
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url("../img/icons-20200619T114801Z-001/socials/f2.png");
}

.socials__item--icon--insta .socials__link {
  background-image: url("../img/icons-20200619T114801Z-001/socials/in.png");
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url("../img/icons-20200619T114801Z-001/socials/in2.png");
}

.contact__desc {
 font-size: 11px;
 width: 236px;
 height: 9px;
 margin-right: 4px;
} 


