.main__container {
  padding-bottom: 166px;
}


.page-content .container {
  min-width: 1219px;
}

.page-content {
  background: #ffffff;
  color: #303030;
  padding: 100px 0 166px 0;
}

.page-content .button {
  margin-left: 7px;
}

.page-content .button--color--white {
  padding: 18px 39px;
}

.services {
  margin-bottom: 77px;
}

.service {
  display: flex;
  margin-bottom: 50px;
}

.service:last-child {
  margin-bottom: 0;
}

.service__img {
  margin-right: 4%;
  padding-top: 8px;
  padding-right: 7px;
  border-radius: 6px;
  overflow: hidden;
}

.service__content {
  flex: 1px;
}

.service__item-elem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service__title {
  padding-left: 6px;
  padding-top: 26px;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 27px;
  color: #000000;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 54px;
  width: 676px;
  height: 151px;
  padding-left: 7px;
  font-size: 18px;
  padding-top: 6px;
  letter-spacing: -1px;
  word-spacing: 4px;
}
/*comment*/

.blog-page-wrapper {
  background: #ffffff;
}

.blog-line {
 margin-bottom: 100px;
}

.blog-content {
  color: #000000;
  padding-bottom: 100px;
}

.blog-content .container {
  min-width: 1219px;
}

.person__list {
 padding-bottom: 80px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.person__item {
  padding: 50px 51px 105px 30px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 580px;
  height: 539px;
  border-radius: 4px;
  background: #f4f5f5;
}

.person__item:first-child {
 
}

.person__item:nth-child(2) {
  height: 600px;
}

.person__item:nth-child(3) {
  margin-bottom: 0;
}

.person__item:nth-child(4) {
  height: 580px;
  margin-bottom: 0;
}

.person__img {
  overflow: hidden;
  width: 139px;
  height: 139px;
  border-radius: 150px;
  margin-right: 23px;
  margin-bottom: 35px;
}

.person__info {
  display: flex;
  flex-wrap: wrap;
  width: 255px;
}

.person__name {
  font-size: 24px;
  font-weight: bold;
  color: #1a1b1e;
  padding: 0 8px 0 0 ;
}

a {
  text-decoration: none;
}

.person__place {
  font-weight: normal;
  font-size: 13px;
  color: #303030;
}

.person__desc {
  min-height: 305px;
}

.person__title {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #1a1b1e;
}

.person__comment {
  padding-bottom: 90px;
  font-weight: normal;
  color: #818181;
}

.person__date {
  font-size: 14px;
  font-weight: normal;
  color-interpolation-filters: #1a1b1e;
}

.blog-photo {
  min-height: 360px;
  background: url("../../img/bg-20200619T114647Z-001/middleline.jpg") center center no-repeat;
}

.blog-photo .container {
  min-width: 1219px;
}

.background {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.background__title {
  width: 550px;
  align-self: center;
  font-size: 48px;
  font-weight: bold;
}

.background__img {
  padding-top: 22px;
  padding-right: 25px;
}

.blog-form {
  background: #f4f5f5;
}

.blog-form .container {
  min-width: 1219px;
}

.blog-footer {
  background: #001821;
}

.blog-footer .container {
  min-width: 1219px;
}