.contact {
  text-align: right;
  line-height: 2.07;
}

.contact__phone {
  font-size: 27px;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 3px;
  position: relative;
  right: 0px;
}

.contact__dropdown-title {
  margin-top: 2px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  top: -17px;
  right: 2px;
}

.contact__desc {
  font-size: 11px;
  width: 236px;
  height: 9px;
  margin-right: 4px;
 }

.contact__dropdown-title:hover .contact__dropdown-menu {
  right: 0;
  opacity: 1;
}

.contact__dropdown-menu {
  position: absolute;
  background: #ffffff;
  width: 153px;
  height: 77px;
  padding: 10px;
  color: #111111;
  top: 42%;
  right: -9999px;
  left: 51px;
  margin-top: 25px;
  opacity: 0;
  transition:  opacity .4s;
  border-radius: 7px;
}

.contact__dropdown-menu::before {
  content: "";
  position: absolute;  
  bottom: 88%;
  border: 15px solid transparent;
  right: 17px;
  opacity: 1;
  border-left-color: white;
  border-right-width: 0px;
  transform: rotate(270deg);
}

.contact__dropdown-menu::after {
  content: "";
  position: absolute;  
  bottom: 88%;
  border: 15px solid transparent;
  right: 17px;
  opacity: 1;
  border-left-color: white;
  border-right-width: 0px;
  transform: rotate(270deg);
}